/* Hide Elements */
.welcome-panel-content,
#sidebar-container.wpseo_content_cell,
#better-analytics_sidebar_wrapper,
.notice,
.error,
.updated,
#gform-lock-dialog {
	width:0 !important;
	height:0 !important;
	display:none !important;
	visibility:hidden !important;
}