.editor-styles-wrapper .is-style-orange-header, .is-style-orange-header {
    color: #f77f2c;
}

.is-style-blue-header {
    color: #6623d1;
}
.editor-styles-wrapper .is-style-blue-header {
    color: #6623d1;
}