@font-face {
  font-family: 'dvv';
  src:  url('fonts/dvv.eot?czcyjj');
  src:  url('fonts/dvv.eot?czcyjj#iefix') format('embedded-opentype'),
    url('fonts/dvv.ttf?czcyjj') format('truetype'),
    url('fonts/dvv.woff?czcyjj') format('woff'),
    url('fonts/dvv.svg?czcyjj#dvv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dvv {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dvv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dvv-advies:before {
  content: "\e900";
  color: #f77f2c;
}
.dvv-afhaalpunten:before {
  content: "\e901";
  color: #f77f2c;
}
.dvv-kwaliteit:before {
  content: "\e902";
  color: #f77f2c;
}
.dvv-verzenden:before {
  content: "\e903";
  color: #f77f2c;
}
