@font-face {
  font-family: 'dvv';
  src:  url('fonts/dvv.eot?n4f7hq');
  src:  url('fonts/dvv.eot?n4f7hq#iefix') format('embedded-opentype'),
    url('fonts/dvv.ttf?n4f7hq') format('truetype'),
    url('fonts/dvv.woff?n4f7hq') format('woff'),
    url('fonts/dvv.svg?n4f7hq#dvv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dvv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

