.logos-list{
    margin-right:1px;
    border-bottom:0;
    border-radius:2px
}

.logos-list .logo{
    height:70px;
    padding:5px
}

.logos-list .logo a{
    height:100%!important
}

.logos-list .logo img{
    height:100%!important
}
