/*-----------------------------------------------------------------*/
/* Slick
/*-----------------------------------------------------------------*/

.slick-slider {
    display: block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    min-height: 1px;
    display: none;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    margin: auto;
}
.slick-slide .normal,
.slick-slide .hover {
    position: relative;
}
.slick-slide .normal {
    display: block;
}
.slick-slide .hover {
    display: none;
}
.slick-slide:hover .normal {
    display: none;
}
.slick-slide:hover .hover {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 99;
    display: block;
    height: 78%;
    width: 30px;
    cursor: pointer;
    background: transparent !important;
    color: transparent;
    top: 0;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:before,
.slick-next:before {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}
.slick-prev {
    left: -40px;
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: 0px;
}
.slick-next {
    right: -40px;
}
[dir="rtl"] .slick-next {
    left: 0px;
    right: auto;
}
.slick-dots {
    display: table !important;
    margin: 24px auto 0 auto;
}
.slick-dots li {
    position: relative;
    display: inline !important;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: inline;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ".";
    width: 20px;
    height: 20px;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    filter: Alpha(Opacity=100);
    opacity: 1;
}