@font-face {
  font-family: 'dvv';
  src:  url('fonts/dvv.eot?am0dhq');
  src:  url('fonts/dvv.eot?am0dhq#iefix') format('embedded-opentype'),
    url('fonts/dvv.ttf?am0dhq') format('truetype'),
    url('fonts/dvv.woff?am0dhq') format('woff'),
    url('fonts/dvv.svg?am0dhq#dvv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dvv {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dvv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dvv-advies:before {
  content: "\e900";
}
.dvv-afhaalpunten:before {
  content: "\e901";
}
.dvv-kwaliteit:before {
  content: "\e902";
}
.dvv-verzenden:before {
  content: "\e903";
}
.dvv-user:before {
  content: "\e904";
}
.dvv-home4:before {
  content: "\e905";
}
.dvv-list3:before {
  content: "\e906";
}
.dvv-chevron-right:before {
  content: "\e907";
}
.dvv-chevron-up:before {
  content: "\e908";
}
.dvv-chevron-down:before {
  content: "\e909";
}
.dvv-chevron-left:before {
  content: "\e90a";
}
.dvv-arrow-left:before {
  content: "\e90b";
}
.dvv-arrow-up:before {
  content: "\e90c";
}
.dvv-arrow-down:before {
  content: "\e90d";
}
.dvv-cart:before {
  content: "\e90e";
}
.dvv-arrow-right:before {
  content: "\e90f";
}
.dvv-magnifier:before {
  content: "\e910";
}
.dvv-telephone2:before {
  content: "\e911";
}
.dvv-phone:before {
  content: "\e912";
}
.dvv-smartphone:before {
  content: "\e913";
}
.dvv-trash2:before {
  content: "\e914";
}
.dvv-undo2:before {
  content: "\e915";
}
.dvv-sort-numeric-asc:before {
  content: "\e916";
}
.dvv-sort-numeric-desc:before {
  content: "\e917";
}
.dvv-funnel:before {
  content: "\e918";
}
.dvv-checkmark-circle:before {
  content: "\e919";
}
.dvv-info-circle:before {
  content: "\e91f";
}
.dvv-facebook:before {
  content: "\e91a";
}
.dvv-linkedin:before {
  content: "\e91b";
}
.dvv-pinterest:before {
  content: "\e91c";
}
.dvv-twitter:before {
  content: "\e91d";
}
.dvv-whatsapp:before {
  content: "\e91e";
}
.dvv-envelope:before {
  content: "\e920";
}