@font-face {
  font-family: 'dvv';
  src:  url('fonts/dvv.eot?l2a9qn');
  src:  url('fonts/dvv.eot?l2a9qn#iefix') format('embedded-opentype'),
    url('fonts/dvv.ttf?l2a9qn') format('truetype'),
    url('fonts/dvv.woff?l2a9qn') format('woff'),
    url('fonts/dvv.svg?l2a9qn#dvv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dvv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dvv-advies:before {
  content: "\e900";
}
.dvv-afhaalpunten:before {
  content: "\e901";
}
.dvv-kwaliteit:before {
  content: "\e902";
}
.dvv-verzenden:before {
  content: "\e903";
}
.dvv-user:before {
  content: "\e904";
}
.dvv-home4:before {
  content: "\e905";
}
.dvv-list3:before {
  content: "\e906";
}
.dvv-chevron-right:before {
  content: "\e907";
}
.dvv-chevron-up:before {
  content: "\e908";
}
.dvv-chevron-down:before {
  content: "\e909";
}
.dvv-chevron-left:before {
  content: "\e90a";
}
.dvv-arrow-left:before {
  content: "\e90b";
}
.dvv-arrow-up:before {
  content: "\e90c";
}
.dvv-arrow-down:before {
  content: "\e90d";
}
.dvv-cart:before {
  content: "\e90e";
}
.dvv-arrow-right:before {
  content: "\e90f";
}
.dvv-magnifier:before {
  content: "\e910";
}
.dvv-telephone2:before {
  content: "\e911";
}
