@import "variables"

@font-face
  font-family 'dvv'
  src url(icomoon-font-path + '/dvv.eot?czcyjj')
  src url(icomoon-font-path + '/dvv.eot?czcyjj#iefix') format('embedded-opentype'), url(icomoon-font-path + '/dvv.ttf?czcyjj') format('truetype'), url(icomoon-font-path + '/dvv.woff?czcyjj') format('woff'), url(icomoon-font-path + '/dvv.svg?czcyjj#dvv') format('svg')
  font-weight normal
  font-style normal
  font-display block

.dvv
  font-family 'dvv' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.dvv-advies
  &:before
    content dvv-advies
.dvv-afhaalpunten
  &:before
    content dvv-afhaalpunten
.dvv-kwaliteit
  &:before
    content dvv-kwaliteit
.dvv-verzenden
  &:before
    content dvv-verzenden

